@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 라이브러리보드 메인 */
.lib_main_container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/lib_main_bg.svg) no-repeat top center;
  background-size: cover;
}

.lib_main_time {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 136px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  padding: 259px 0 0 275px;
  color: #FFF;
}

.lib_main_date {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  padding: 0 0 335px 289px;
  color: #FFF;
}

.lib_main_title {
  font-family: "Pretendard", sans-serif;
  font-size: 160px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  padding: 0 0 60px 268px;
  animation: slideUp 0.8s ease-out forwards;
  letter-spacing: -4px;
  color: #191F28;
}

.lib_main_title span {
  font-family: "Pretendard", sans-serif;
  font-size: 160px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: -4px;
  color: #191F28;
}

.lib_main_caption {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 120%;
  padding: 0 0 0 278px;
  animation: slideUp 0.8s ease-out forwards;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFF;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (width: 1080px) {
  .lib_main_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/lib_main_bg.svg) no-repeat top center;
    background-size: cover;
  }

  .lib_main_time {
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-size: 68px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    padding: 130px 0 0 138px;
    color: #FFF;
  }

  .lib_main_date {
    font-family: "Spoqa Han Sans Neo", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding: 0 0 168px 145px;
    color: #FFF;
  }

  .lib_main_title {
    font-family: "Pretendard", sans-serif;
    font-size: 80px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    padding: 0 0 30px 134px;
    animation: slideUp 0.8s ease-out forwards;
    letter-spacing: -2px;
    color: #191F28;
  }

  .lib_main_title span {
    font-family: "Pretendard", sans-serif;
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2px;
    color: #191F28;
  }

  .lib_main_caption {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 120%;
    padding: 0 0 0 139px;
    animation: slideUp 0.8s ease-out forwards;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFF;
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* 라이브러리보드 공지사항 */
.lib_notice_container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 240px;
  background: url(../img/lib_notice_bg.svg) no-repeat top center;
  background-size: cover;
}

.lib_notice_selected_item_swiper {
  width: 1941px;
  height: 2762px;
  padding-top: 200px !important;
  padding-left: 100px !important;
}

.lib_notice_selected_item_swiper .swiper-slide img {
  width: 1741px;
  height: 2462px;
  border-radius: 20px;
  box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.10);
  object-fit: cover;
}

.lib_notice_swiper {
  position:relative;
  margin-top: 20px;
}

.lib_notice_swiper .swiper {
  width: 1940px;
  height: 451px;
  padding-left: 100px !important;
}

.lib_notice_swiper .swiper img {
  width: 248px;
  height: 351px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.10);
}

.lib_notice_swiper .swiper-pagination {
  position: absolute;
  bottom: -107px !important;
  left: 0;
  display: flex !important;
  justify-content: center;
  gap: 40px;
}

.lib_notice_swiper .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  margin: 0 !important;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 1;
  background-color: #ADB5BD;
}

.lib_notice_swiper .swiper-pagination-bullet-active {
  background-color: #333D4B;
}

.lib_notice_ticker {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 128px;
  padding: 38px 0 38px 120px;
  background: #000;
}

.lib_notice_ticker_message {
  font-family: "Pretendard", sans-serif;
  font-size: 44px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 100%;
  animation: ticker 50s linear infinite;
  white-space: nowrap;
  color: #FFF;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (width: 1080px) {
  .lib_notice_container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    background: url(../img/lib_notice_bg.svg) no-repeat top center;
    background-size: cover;
  }

  .lib_notice_selected_item_swiper {
    width: 971px;
    height: 1381px;
    padding-top: 100px !important;
    padding-left: 50px !important;
  }

  .lib_notice_selected_item_swiper .swiper-slide img {
    width: 871px;
    height: 1231px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.10);
    object-fit: cover;
  }

  .lib_notice_swiper {
    position:relative;
    margin-top: 10px;
  }

  .lib_notice_swiper .swiper {
    width: 970px;
    height: 226px;
    padding-left: 50px !important;
  }

  .lib_notice_swiper .swiper img {
    width: 124px;
    height: 176px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.10);
  }

  .lib_notice_swiper .swiper-pagination {
    position: absolute;
    bottom: -53.5px !important;
    left: 0;
    display: flex !important;
    justify-content: center;
    gap: 20px;
  }

  .lib_notice_swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 1;
    background-color: #ADB5BD;
  }

  .lib_notice_swiper .swiper-pagination-bullet-active {
    background-color: #333D4B;
  }

  .lib_notice_ticker {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 64px;
    padding: 19px 0 19px 60px;
    background: #000;
  }

  .lib_notice_ticker_message {
    font-family: "Pretendard", sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
    width: 100%;
    animation: ticker 50s linear infinite;
    white-space: nowrap;
    color: #FFF;
  }

  @keyframes ticker {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* 라이브러리보드 신착도서 */
.lib_new_container {
  width: 100%;
  height: 100vh;
  padding-top: 440px;
  background: url(../img/lib_new_bg.svg) no-repeat top center;
  background-size: cover;
}

.lib_new_content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1790px;
  height: 2914px;
  margin-left: 200px;
}

.lib_new_selected_item_swiper {
  width: 1360px;
  height: 2914px;
  margin: 0 !important;
}

.lib_new_content .swiper-pagination {
  position: absolute;
  bottom: -226px !important;
  display: flex !important;
  justify-content: center;
  margin-right: 30px;
  gap: 40px;
}

.lib_new_content .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  margin: 0 !important;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 1;
  background-color: #ADB5BD;
}

.lib_new_content .swiper-pagination-bullet-active {
  background-color: #333D4B;
}

.lib_new_selected_item_swiper .swiper-slide img {
  width: 1260px;
  height: 1864px;
  border-radius: 24px;
  box-shadow: 40px 40px 80px 0 rgba(154, 196, 224, 0.50);
  object-fit: cover;
}

.lib_new_writer {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  width: 1260px;
  margin-top: 192px;
  margin-bottom: 60px;
  white-space: nowrap;
  letter-spacing: -1.5px;
  text-overflow: ellipsis;
  color: #4E5968;
}

.lib_new_writer span {
  color: #191F28;
}

.lib_new_title {
  font-family: "Pretendard", sans-serif;
  font-size: 120px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  display: -webkit-box;
  overflow: hidden;
  width: 1260px;
  margin-bottom: 60px;
  letter-spacing: -3px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.lib_new_summary {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  display: -webkit-box;
  overflow: hidden;
  width: 1260px;
  letter-spacing: -1.5px;
  text-overflow: ellipsis;
  color: #191F28;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.lib_new_swiper {
  width: 280px;
  height: 2900px;
  margin: 0 0 0 160px!important;
  padding-bottom: 20px !important;
}

.lib_new_swiper .swiper-wrapper {
  width: 250px !important;
}

.lib_new_swiper .swiper-slide {
  width: 250px !important;
}

.lib_new_swiper .swiper-slide img {
  width: 250px;
  height: 360px;
  border-radius: 16px;
  box-shadow: 10px 10px 20px 0 rgba(154, 196, 224, 0.40);
}

@media (width: 1080px) {
  .lib_new_container {
    width: 100%;
    height: 100vh;
    padding-top: 220px;
    background: url(../img/lib_new_bg.svg) no-repeat top center;
    background-size: cover;
  }

  .lib_new_content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 895px;
    height: 1457px;
    margin-left: 100px;
  }

  .lib_new_selected_item_swiper {
    width: 680px;
    height: 1457px;
    margin: 0 !important;
  }

  .lib_new_content .swiper-pagination {
    position: absolute;
    bottom: -113px !important;
    display: flex !important;
    justify-content: center;
    margin-right: 15px;
    gap: 20px;
  }

  .lib_new_content .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 1;
    background-color: #ADB5BD;
  }

  .lib_new_content .swiper-pagination-bullet-active {
    background-color: #333D4B;
  }

  .lib_new_selected_item_swiper .swiper-slide img {
    width: 630px;
    height: 932px;
    border-radius: 12px;
    box-shadow: 20px 20px 40px 0 rgba(154, 196, 224, 0.50);
    object-fit: cover;
  }

  .lib_new_writer {
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
    width: 630px;
    margin-top: 96px;
    margin-bottom: 30px;
    white-space: nowrap;
    letter-spacing: -0.75px;
    text-overflow: ellipsis;
    color: #4E5968;
  }

  .lib_new_writer span {
    color: #191F28;
  }

  .lib_new_title {
    font-family: "Pretendard", sans-serif;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    display: -webkit-box;
    overflow: hidden;
    width: 630px;
    margin-bottom: 30px;
    letter-spacing: -1.5px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .lib_new_summary {
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: 150%;
    display: -webkit-box;
    overflow: hidden;
    width: 630px;
    letter-spacing: -0.75px;
    text-overflow: ellipsis;
    color: #191F28;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .lib_new_swiper {
    width: 140px;
    height: 1450px;
    margin: 0 0 0 80px!important;
    padding-bottom: 10px !important;
  }

  .lib_new_swiper .swiper-wrapper {
    width: 125px !important;
  }

  .lib_new_swiper .swiper-slide {
    width: 125px !important;
  }

  .lib_new_swiper .swiper-slide img {
    width: 125px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0 rgba(154, 196, 224, 0.40);
  }
}

/* 라이브러리보드 인기도서 */
.lib_best_container {
  width: 100%;
  height: 100vh;
  padding-top: 440px;
  padding-left: 200px;
  background: url(../img/lib_best_bg.svg) no-repeat top center;
  background-size: cover;
}

.lib_best_swiper {
  position: relative;
  width: 1760px;
  height: 2904px;
}

.lib_best_swiper .swiper {
  width: 1860px;
  height: 2904px;
}

.lib_best_swiper .swiper-pagination {
  position: absolute;
  bottom: -236px !important;
  display: flex !important;
  justify-content: center;
  gap: 40px;
}

.lib_best_swiper .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  margin: 0 !important;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 1;
  background-color: #ADB5BD;
}

.lib_best_swiper .swiper-pagination-bullet-active {
  background-color: #333D4B;
}

.lib_best_swiper .swiper-slide img {
  width: 440px;
  height: 634px;
  border-radius: 24px;
  box-shadow: 20px 20px 40px 0 rgba(154, 196, 224, 0.40);
}

.lib_best_title {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  width: 440px;
  margin-top: 40px;
  margin-bottom: 8px;
  padding: 0 8px 0 8px;
  white-space: nowrap;
  letter-spacing: -1.5px;
  text-overflow: ellipsis;
  color: #191F28;
}

.lib_best_writer {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  overflow: hidden;
  width: 440px;
  margin-bottom: 8px;
  padding: 0 8px 0 8px;
  white-space: nowrap;
  letter-spacing: -1.2px;
  text-overflow: ellipsis;
  color: #4E5968;
}

.lib_best_year {
  font-family: "Pretendard", sans-serif;
  font-size: 48px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  padding: 0 8px 0 8px;
  letter-spacing: -1.2px;
  color: #4E5968;
}

@media (width: 1080px) {
  .lib_best_container {
    width: 100%;
    height: 100vh;
    padding-top: 220px;
    padding-left: 100px;
    background: url(../img/lib_best_bg.svg) no-repeat top center;
    background-size: cover;
  }

  .lib_best_swiper {
    position: relative;
    width: 880px;
    height: 1452px;
  }

  .lib_best_swiper .swiper {
    width: 930px;
    height: 1452px;
  }

  .lib_best_swiper .swiper-pagination {
    position: absolute;
    bottom: -118px !important;
    display: flex !important;
    justify-content: center;
    gap: 20px;
  }

  .lib_best_swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 1;
    background-color: #ADB5BD;
  }

  .lib_best_swiper .swiper-pagination-bullet-active {
    background-color: #333D4B;
  }

  .lib_best_swiper .swiper-slide img {
    width: 220px;
    height: 317px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px 0 rgba(154, 196, 224, 0.40);
  }

  .lib_best_title {
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: 140%;
    overflow: hidden;
    width: 220px;
    margin-top: 20px;
    margin-bottom: 4px;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    letter-spacing: -0.75px;
    text-overflow: ellipsis;
    color: #191F28;
  }

  .lib_best_writer {
    font-family: "Pretendard", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    width: 220px;
    margin-bottom: 4px;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    letter-spacing: -0.6px;
    text-overflow: ellipsis;
    color: #4E5968;
  }

  .lib_best_year {
    font-family: "Pretendard", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    padding: 0 4px 0 4px;
    letter-spacing: -0.6px;
    color: #4E5968;
  }
}

/* 라이브러리보드 행사안내 */
.lib_event_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 1405px;
  padding-left: 200px;
  background: url(../img/lib_event_bg.svg) no-repeat top center;
  background-size: cover;
}

.lib_event_swiper {
  position: relative;
  width: 1760px;
  height: 1742px;
}

.lib_event_swiper .swiper {
  width: 1760px;
  height: 1742px;
}

.lib_event_swiper .swiper-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.lib_event_swiper .swiper-pagination {
  position: absolute;
  bottom: -433px !important;
  left: 0;
  display: flex !important;
  justify-content: center;
  gap: 40px;
}

.lib_event_swiper .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  margin: 0 !important;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 1;
  background-color: #ADB5BD;
}

.lib_event_swiper .swiper-pagination-bullet-active {
  background-color: #333D4B;
}

.lib_event_detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1760px;
  height: 322px;
  padding: 60px 160px;
  border-radius: 200px;
  background: #FFF;
}

.lib_event_label {
  font-family: "Pretendard", sans-serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 6px;
  color: #6B7684;
}

.lib_event_value {
  font-family: "Pretendard", sans-serif;
  font-size: 92px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 9px;
  color: #333D4B;
}

.lib_event_title {
  font-family: "Pretendard", sans-serif;
  font-size: 240px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  display: -webkit-box;
  overflow: hidden;
  width: 1531px;
  margin-top: 80px;
  text-align: center;
  letter-spacing: -6px;
  text-overflow: ellipsis;
  color: #333D4B;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media (width: 1080px) {
  .lib_event_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 703px;
    padding-left: 100px;
    background: url(../img/lib_event_bg.svg) no-repeat top center;
    background-size: cover;
  }

  .lib_event_swiper {
    position: relative;
    width: 880px;
    height: 871px;
  }

  .lib_event_swiper .swiper {
    width: 880px;
    height: 871px;
  }

  .lib_event_swiper .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .lib_event_swiper .swiper-pagination {
    position: absolute;
    bottom: -216.5px !important;
    left: 0;
    display: flex !important;
    justify-content: center;
    gap: 20px;
  }

  .lib_event_swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 1;
    background-color: #ADB5BD;
  }

  .lib_event_swiper .swiper-pagination-bullet-active {
    background-color: #333D4B;
  }

  .lib_event_detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 880px;
    height: 161px;
    padding: 30px 80px;
    border-radius: 100px;
    background: #FFF;
  }

  .lib_event_label {
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 3px;
    color: #6B7684;
  }

  .lib_event_value {
    font-family: "Pretendard", sans-serif;
    font-size: 46px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-align: center;
    letter-spacing: 3px;
    color: #333D4B;
  }

  .lib_event_title {
    font-family: "Pretendard", sans-serif;
    font-size: 120px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    display: -webkit-box;
    overflow: hidden;
    width: 766px;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -3px;
    text-overflow: ellipsis;
    color: #333D4B;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

/* 라이브러리보드 대출반납일 */
.lib_return_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 1380px;
  padding-left: 216px;
  background: url(../img/lib_return_bg.svg) no-repeat top center;
  background-size: cover;
  gap: 540px;
}

.lib_return_content {
  display: flex;
  gap: 144px;
}

.lib_return_number_wrapper {
  display: flex;
  gap: 24px
}

.lib_return_number {
  font-family: "Roboto", sans-serif;
  font-size: 480px;
  font-weight: 700;
  font-style: normal;
  line-height: 600px;
  position: relative;
  width: 384px;
  height: 600px;
  padding-left: 20px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: lowercase;
  color: #FFF;
}

.lib_return_number:after {
  position: absolute;
  top: 300px;
  left: 0;
  width: 384px;
  height: 6px;
  content: "";
  background-color: #000;
}

@media (width: 1080px) {
  .lib_return_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 690px;
    padding-left: 108px;
    background: url(../img/lib_return_bg.svg) no-repeat top center;
    background-size: cover;
    gap: 270px;
  }

  .lib_return_content {
    display: flex;
    gap: 72px;
  }

  .lib_return_number_wrapper {
    display: flex;
    gap: 12px
  }

  .lib_return_number {
    font-family: "Roboto", sans-serif;
    font-size: 240px;
    font-weight: 700;
    font-style: normal;
    line-height: 300px;
    position: relative;
    width: 192px;
    height: 300px;
    padding-left: 10px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: lowercase;
    color: #FFF;
  }

  .lib_return_number:after {
    position: absolute;
    top: 150px;
    left: 0;
    width: 192px;
    height: 3px;
    content: "";
    background-color: #000;
  }
}